<div>
  <div class="header__logo__sony">
    <a href="#"
      ><img src="../../../../assets/logos/sony_logo.svg" alt="Sony-Logo"
    /></a>
  </div>
  <header style=" box-shadow: 0 0 13px 11px rgb(150, 150, 150, 0.3);">
    <nav class="nav__container">
      <div class="nav__logo__options">
        <a href="" class="header__logo__ps"
          ><img
            src="../../../../assets/logos/icons8-playstation-50.png"
            alt="image_logo_playstation"
            srcset=""
        /></a>
        <div class="header__menu__nav">
          <li>
            <ul>
              <button>
              Jogos
                <mat-icon>expand_more</mat-icon>
              </button>
            </ul>

            <ul>
              <button>
              Hardware
                <mat-icon>expand_more</mat-icon>
              </button>
            </ul>
            <ul>
              <button>
              Serviços
                <mat-icon>expand_more</mat-icon>
              </button>
            </ul>
            <ul>
              <button>
              Notícias
                <mat-icon>expand_more</mat-icon>
              </button>
            </ul>
            <ul>
              <button>
              Loja
                <mat-icon>expand_more</mat-icon>
              </button>
            </ul>
            <ul>
              <button>
              Suporte
                <mat-icon>expand_more</mat-icon>
              </button>
            </ul>
          </li>
        </div>
      </div>

      <div class="btn__iniciar__pesquisa">
        <button>Iniciar sessão</button>
        <span>
          <mat-icon>search</mat-icon>
        </span>
      </div>
    </nav>

    <nav
      style="
        position: relative;
        left: auto;
        top: auto;
        transform: translateZ(0px);
      "
    >
      <div class="nav__ps-store__container">
        <div>
          <a class="play-station-store-logo" href="#">
            <img src="../../../../assets/logos/PlayStation Store.png" alt=""
          /></a>
        </div>

        <div class="menu__ps-store__container">
          <li>
            <ul>
              <button>Novidades</button>
            </ul>
            <ul>
              <button>Coleções</button>
            </ul>
            <ul>
              <button>Ofertas</button>
            </ul>
            <ul>
              <button>PS5</button>
            </ul>
            <ul>
              <button>Assinaturas</button>
            </ul>
            <ul>
              <button>Assinaturas</button>
            </ul>
            <ul>
              <button>Navegar</button>
            </ul>
          </li>
        </div>

      </div>
    </nav>
  </header>
</div>
